.my-banner {
    width: 100%;
    font-size: 200%;    
    color: white;
    text-align: center;
    background-color: navy
}

input{
    display: block;
    margin: 8px 0;
    padding: 8px 2px;
    border-width: 0 0 2px 0;
    width: 100%;
}

li.nav-item {
    padding-right: 20px;
}

.modal-preauth{
    display: block;
}

.modal-postauth{
    display: none;
}